body 
{
    background-color: rgb(194, 186, 201);

}

h1{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
table{
    text-align: center;
    line-height: normal;
    border-width: 5px;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 20px;
}
button{
    background-color: brown;
}
.user{
    background-color: blueviolet;
}
.user2{
    background-color: #b347ce;
}
.user3{
    background-color: #6c54a7;
}
.user4{
    background-color: #7f7697;
}